/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.min.css";
//@import "~font-awesome/css/font-awesome.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~ng-pick-datetime/assets/style/picker.min.css";
//
//body{
//  background-color: white;

//}
//html{
//  overflow-y: auto;
//  margin : 0;
//  top:0px !important;
//}
//
//.mat-horizontal-content-container
//{
//  position: relative;
//  left: 10%;
//}
//
//#wrapper {
//  padding-left: 0;
//  -webkit-transition: all 0.5s ease;
//  -moz-transition: all 0.5s ease;
//  -o-transition: all 0.5s ease;
//  transition: all 0.5s ease;
//}
//
//#wrapper.toggled {
//  padding-left: 250px;
//}
//
//.outerMatTab mat-tab-header{
//  z-index: 1000;
//}
//
//.ng-trigger-transformPanel{
//  transform-origin: 62% 107.5px 0px;
//  font-size: 24px;
//  opacity: 1;
//  min-width: calc(100% + 48px);
//  transform: scale(.7);
//}
//
//.dropdown-list ul li{
//  background-color: #775353 !important;
//  color: white !important;}
//.selected-list .c-list .c-token {
//  background-color: #dcd2d2 !important;
//
//}
//
//.list-filter .c-search svg {
//  fill: #888;
//  position: relative;
//  bottom: 10px ;
//
//}
//
//#sidebar-wrapper {
//  z-index: 1000;
//  position: fixed;
//  left: 250px;
//  width: 0;
//  height: 100%;
//  margin-left: -250px;
//  overflow-y: auto;
//  background: #000;
//  -webkit-transition: all 0.5s ease;
//  -moz-transition: all 0.5s ease;
//  -o-transition: all 0.5s ease;
//  transition: all 0.5s ease;
//}
//
//#wrapper.toggled #sidebar-wrapper {
//  width: 250px;
//}
//
//#page-content-wrapper {
//  width: 100%;
//  position: absolute;
//  padding: 15px;
//}
//
//#wrapper.toggled #page-content-wrapper {
//  position: absolute;
//  margin-right: -250px;
//}
//
///* Sidebar Styles */
//
//.sidebar-nav {
//  position: absolute;
//  top: 0;
//  width: 250px;
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
//
//.sidebar-nav li {
//  text-indent: 20px;
//  line-height: 40px;
//}
//
//.sidebar-nav li a {
//  display: block;
//  text-decoration: none;
//  color: #999999;
//}
//
//.sidebar-nav li a:hover {
//  text-decoration: none;
//  color: #fff;
//  background: rgba(255, 255, 255, 0.2);
//}
//
//.sidebar-nav li a:active,
//.sidebar-nav li a:focus {
//  text-decoration: none;
//}
//
//.sidebar-nav>.sidebar-brand {
//  height: 65px;
//  font-size: 18px;
//  line-height: 60px;
//}
//
//.sidebar-nav>.sidebar-brand a {
//  color: #999999;
//}
//
//.mat-horizontal-stepper-header-container
//{
//  position: relative !important;
//  left: 16% !important;}
//.sidebar-nav>.sidebar-brand a:hover {
//  color: #fff;
//  background: none;
//}
//
//.mat-datepicker-content{
//  height: 180%;
//
//
//}
//
//@media(min-width:768px) {
//  #wrapper {
//    padding-left: 0;
//  }
//
//  #wrapper.toggled {
//    padding-left: 250px;
//  }
//
//  #sidebar-wrapper {
//    width: 0;
//  }
//
//  #wrapper.toggled #sidebar-wrapper {
//    width: 250px;
//  }
//
//  #page-content-wrapper {
//    padding: 20px;
//    position: relative;
//  }
//
//  #wrapper.toggled #page-content-wrapper {
//    position: relative;
//    margin-right: 0;
//  }
//}
//
//.app-full-bleed-dialog .mat-dialog-container {
//  padding: 0 50px 0 0;
//}
//
//.full-bg {
//  background: url('/assets/bg.jpg') no-repeat center;
//  background-size: 100% 100%;
//  background-position: top center;
//}



//.fa:hover {
//  opacity: 0.7;
//}
//
//.fa-facebook {
//  background: #3B5998;
//  color: white;
//}

//
//@media only screen and (max-width: 720px) {
//.mat-horizontal-stepper-header-container
//{
//  position: relative !important ;
//  left:0% !important;
//}
//}
//
//@media only screen and (max-width: 1024px) {
//
//  .mat-form-field-appearance-outline .mat-form-field-flex
//  {    margin-top: 1.75em !important;
//   }
//
//    .mat-horizontal-content-container
//    {
//      left:0;
//    }
//
//    .mat-step-label{
//      display: none !important;
//    }
//    .mat-horizontal-stepper-header-container
//    {
//      position: relative !important;
//      left:0% !important;
//    }
//    .cdk-overlay-pane{
//      max-width: 80vw;
//      pointer-events: auto;
//      font-size: 23px;
//      width: 70%;
//      position: relative;
//      margin-left: auto;
//      margin-right: auto;
//      margin-top: 20%;
//      }
//   /* .cdk-overlay-pane{
//    position: relative;
//    right: 45%;
//   } */
//      // .mat-datepicker-content{
//      //   position: relative;
//      //   right: 0%;
//
//      // }
//
//      .mat-tab-label{
//        font-size: 10px;
//        margin-right: 18px;
//
//      }
//}
//
//.mat-list-item-content{
//  display : block;
//
//}
//
//.btn-login{
//   width:70%;
//   border-radius:20px;
//   border : 2px solid #007BFF;
//   background-color: #007BFF;
//   padding:6px;
//   color:white
//}
//
//
//.btn-next{
//  width: 40%;
//  border-radius:20px;
//  border : 2px solid #007BFF;
//  background-color: #007BFF;
//  padding:6px;
//  color:white;
//  margin-left:10%;margin-right:10%;
//}
//
//.btn-skip{
//  width: 40%;
//  border-radius:20px;
//  border : 2px #6e6f7573;
//  background-color: #6e6f7573;
//  padding:6px;
//  color:white;
//  margin-left:auto;margin-right:auto;
//}
//
//mat-form-field{
//  height: 60px;
//}
